<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-light list-group-small">
    <li class="list-group-item px-3">
      <div class="form-outline">
        <input type="text" id="typeText" class="form-control" />
        <label class="form-label" for="typeText">Text input</label>
      </div>
    </li>
   
    <li class="list-group-item px-3">
      <div class="form-outline">
        <input type="text" id="typeText" class="form-control" />
        <label class="form-label" for="typeText">Text input</label>
      </div>
    </li>
    <li class="list-group-item px-3">
      <div class="form-outline">
        <input type="text" id="typeText" class="form-control" />
        <label class="form-label" for="typeText">Text input</label>
      </div>
    </li>
    <li class="list-group-item px-3">
      <div class="form-outline">
        <input type="text" id="typeText" class="form-control" />
        <label class="form-label" for="typeText">Text input</label>
      </div>
    </li>
    <li class="list-group-item px-3">
      <div class="form-outline">
        <input type="text" id="typeText" class="form-control" />
        <label class="form-label" for="typeText">Text input</label>
      </div>
    </li>
    
    
    </ul>













  <div class="card-footer bg-light px-3">Card footer</div>
</div>