
<body id="w">
    
    
    <section >
        <div class="photo">
            <div class="avatar hover-effect bg-white shadow-sm p-1"><img [src]="this.data1.data.image" width="200" height="200"/></div>
        </div>
        <div style="display: flex;justify-content: center;align-items: center;">
          <div class="d-print-none" data-aos="fade-left" data-aos-delay="200">
            <button class="btn btn-success" (click)="done()">
        
              Download CV
            </button>
          </div>
        
        </div>
        <div class="prez">
            <h2>About Me</h2>
            <p>{{data1.data.about}}</p>
        </div>
        <div class="contact">
            <div class="contact-flex">
                <p>Nom : </p>
                <p>{{data1.data.fistname}}</p>
                <p>{{data1.data.lastname}}</p>

            </div>
            <div class="contact-flex">
                <p>Adress : </p>
                <p>{{data1.data.adr}}</p>
            </div>
            <div class="contact-flex">
                <p>Phone :</p>
                <div class="pb-1 text-secondary">{{data1.data.phone}}</div>
            </div>
            <div class="contact-flex">
                <p>Mail : </p>

                <p>{{data1.data.email}}</p>
            </div>
            
            
        </div>
    </section>
    
    <section>
        <h2>Professional Skills </h2>
        <div class="col-md-6" *ngFor="let skil of data1.skils">
            <div class="mb-2"><span>{{skil.skills}}</span>
              <div class="progress my-1">
                <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="100" data-aos-anchor=".skills-section" [ngStyle]="{ 'width': skil.level + '%' }"  style=" height: 12px !important;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              
            </div>
            
          </div>
      
</section>

<section>
    <div class="education-section px-3 px-lg-4 pb-4">
        <h2 class="h3 mb-4">Education</h2>
        <div class="timeline" *ngFor="let ed of data1.education">
          <div class="timeline-card timeline-card-success card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">{{ed.title }}</div>
              <div class="text-muted text-small mb-2">{{ed.dated}} - {{ed.datef}}</div>
              <div>{{ed.description}}</div>
            </div>
          </div>
          
          </div>
        </div>
</section>

<section>
    <div class="work-experience-section px-3 px-lg-4">
        <h2 class="h3 mb-4">Work Experience</h2>
        <div class="timeline" *ngFor="let exp of data1.experience">
          <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">{{exp.title}}</div>
              <div class="text-muted text-small mb-2">{{exp.dated}} - {{exp.datef}}</div>
              <div>{{exp.description}}</div>
            </div>
          </div>
          </div>
        </div>
        
</section>




</body>
